/* Top Menu */
.topMenu {
  height: 10vh;
  background-color: var(--bsecondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.optionsButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;

  height: 100%;
  width: 100%;
}

.leftButtons {
  display: flex;
  gap: 0.6rem;
  padding-left: 1rem;
}

.rightButtons {
  padding-right: 1rem;
}

.btnCollapse {
  height: 3vh;
  width: 100vw;
  margin-top: auto;
  background-color: var(--bsecondary);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
}

/* Content */
.page {
  height: 80vh;
  background-color: var(--background);

  color: var(--text);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.objLabels {
  display: flex;
}

.objRowLabels {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.numberInput {
  width: 30%;
  background-color: var(--bsecondary);
  color: var(--text);
  border: none;
  border-radius: 0.2rem;

  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 1.2rem;
  text-align: center;
}

/* Bottom Menu */
.bottomMenu {
  height: 10vh;
  background-color: var(--bsecondary);

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--text);
}

.bottomMenu button {
  height: 100%;
  width: 100%;
}
