/* Top Menu */
.top-menu {
  height: 10vh;
  background-color: var(--bsecondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition:
    height 0.3s ease,
    opacity 0.3s ease;
  position: relative;
}

.top-menu.collapsed {
  height: 3vh;
  opacity: 1;
}

.top-menu__options-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.top-menu__left-buttons {
  display: flex;
  gap: 0.6rem;
  padding-left: 1rem;
}

.top-menu__right-buttons {
  padding-right: 1rem;
}

.top-menu__btn-collapse {
  height: 3vh;
  width: 100vw;
  margin-top: auto;
  background-color: var(--bsecondary);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.3s ease;
}

.collapse-icon {
  transition: transform 0.3s ease;
}

.collapse-icon.rotated {
  transform: rotate(180deg);
}

/* Main Content */
.main-content {
  transition: padding-top 0.3s ease;
  padding-top: 0vh;
  background-color: var(--background);
}

.main-content.collapsed {
  transition: padding-top 0.3s ease;
  padding-top: 7vh;
  background-color: var(--background);
}

/* Bottom Menu */
.bottom-menu {
  height: 10vh;
  background-color: var(--bsecondary);

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--text);
}

.bottom-menu button {
  height: 100%;
  width: 100%;
}

.bottom-menu label {
  min-width: 20%;
  text-align: center;
}
