<!-- topMenu -->
<div class="topMenu">
  <!-- optionsButtons -->
  <div class="optionsButtons">
    <div class="leftButtons">
      <button class="btn">
        <img src="../assets/icons/darkMode.svg" alt="Collapse" />
      </button>
      <button class="btn">
        <img src="../assets/icons/langES.svg" alt="Collapse" />
      </button>
    </div>
    <div class="rightButtons">
      <button class="btn">
        <img src="../assets/icons/settings.svg" alt="Collapse" />
      </button>
    </div>
  </div>
  <!-- collapseButton -->
  <div>
    <button class="btnCollapse">
      <img src="../assets/icons/arrowUp.svg" alt="Collapse" />
    </button>
  </div>
</div>

<!-- page -->
<div class="page">
  <div class="objLabels">
    <div class="objRowLabels">
      <label>Peso Actual</label>
      <input class="numberInput" />
    </div>
    <div class="objRowLabels">
      <label>Peso Objetivo</label>
      <input class="numberInput" />
    </div>
  </div>
  <div class="objLabels">
    <div class="objRowLabels">
      <label>Fecha Inicio</label>
      <input class="numberInput" />
    </div>
    <div class="objRowLabels">
      <label>Fecha Fin</label>
      <input class="numberInput" />
    </div>
  </div>
  <div class="objRowLabels">
    <label>Diferencia Semanal</label>
    <input class="numberInput" />
  </div>
</div>

<!-- bottomMenu -->
<div class="bottomMenu">
  <button class="btn">
    <img src="../assets/icons/arrowLeft.svg" alt="Collapse" />
  </button>
  <label>Page</label>
  <button class="btn">
    <img src="../assets/icons/arrowRight.svg" alt="Collapse" />
  </button>
</div>
