/* Eliminar márgenes y padding por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Paleta de colores y sombras */
:root {
  --text: #feebd5;
  --bg: #120f0c;
  --primary: #cabbae;
  --secondary: #999e03;
  --accent: #cdfb36;
}

.btn {
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary);
}
